<configuration>
<system.webServer>
    <rewrite>
    <rules>
        <rule name="RewriteAPI" stopProcessing="true">
            <match url="^/api/(.+)$" ignoreCase="false" />
            <action type="Rewrite" url="{R:2}" appendQueryString="false" />
        </rule>
    </rules>
</rewrite>
</system.webServer>
</configuration>