<system.webServer>
    <rewrite>
        <rules>
            <rule name="rule 1W" stopProcessing="true">
                    <match url="^(.*)/+$"  />
                    <action type="Rewrite" url="/{R:1}"  />
            </rule>
            <rule name="rule 2W">
                    <match url="^/*$"  ignoreCase="true" />
                    <action type="Rewrite" url="/index.php?action=index"  />
            </rule>
            <rule name="rule 3W">
                    <match url="^(api+)/?$"  ignoreCase="true" />
                    <action type="Rewrite" url="//api/api.php?page={R:1}_{R:2}"  appendQueryString="true" />
            </rule>
            <rule name="rule 4W">
                    <match url="^/api/(.*)/?"  ignoreCase="true" />
                    <action type="Rewrite" url="//api/api.php?request={R:1}"  appendQueryString="true" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>