body{
    width: 80%;
    margin: 10px auto 10px auto;
}

form{
    background-color: #fae3d9;
    line-height: 20px;
    padding: 10px;
    margin: 20px;
}

label{
    float: left;
    width: 100px;
    text-align: right;
    margin: 20px;
}

h1, h2{
    color: #2096ba;
    text-align: center;
}